ENVIRONMENT=development|production

# FastAPI
APP_NAME=
DESCRIPTION="overrides description from pyproject.toml"
LICENSE_NAME=
CONTACT_NAME=
CONTACT_EMAIL=

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=db
DB_POOL_SIZE=20
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=1800
DB_MAX_OVERFLOW=10
DB_PREFIXED_ID_LENGTH=21

# Middlewares
CORS_ALLOW_ORIGINS='["*"]'
CORS_ALLOW_METHODS='["*"]'
CORS_ALLOW_HEADERS='["*"]'
CORS_ALLOW_ORIGIN_REGEX=