ENVIRONMENT=development|production

# FastAPI
APP_NAME=
DESCRIPTION="overrides description from pyproject.toml"
LICENCE_NAME=
CONTACT_NAME=
CONTACT_EMAIL=

# Middlewares
CORS_ALLOW_ORIGINS='["*"]'
CORS_ALLOW_METHODS='["*"]'
CORS_ALLOW_HEADERS='["*"]'
CORS_ALLOW_ORIGIN_REGEX=